<html>
    <head>
        <title>Profile Page</title>
    </head>
    <body>
        <%- include('common/login')%>
        <h1>Profile Page : <%= user.name %></h1>
        <a href="/home">Home Page</a>
        <a href="/about">About Page</a>
    </body>
</html>